---
import  profilePic from './profile-pic.jpg';
---

<div class="flex my-12 items-center px-6 lg:px-0">
  <img class="rounded-full h-12 w-12 mr-3" src={profilePic} alt="My profile pic" />
    <p>Personal blog by <a class="underline" href="https://twitter.com/nobuhikosawai">nobuhikosawai</a>.</p>
  <div class="text-base text-slate-700 dark:text-slate-300">
    <p>I am a web engineer, sort of working on both backend and frontend. All views are my own.</p>
  </div>
</div>
