---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="transition-colors dark:bg-slate-800">
    <Header />
    <main class="prose prose-slate mx-auto lg:prose-lg lg:max-w-4xl dark:prose-invert transition-colors">
      <slot />
    </main>
    <Footer />
  </body>
</html>
