---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import GA from '../components/GA.astro';

export type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <GA />

  <body class="transition-colors dark:bg-slate-800">
    <Header />
    <main class="mx-auto lg:max-w-4xl">
      <slot />
    </main>
    <Footer />
  </body>
</html>

