---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export type Props = {
  title: string;
  description: string;
}

const { title, description} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
    <Header />
    <main class="prose prose-slate lg:prose-lg mx-auto lg:max-w-4xl">
      <slot />
    </main>
    <Footer>
	</body>
</html>
